SelfServiceBatch/SelfServiceSales_DOTNET/websitefinal/Service References/ServiceReference1/PAYMENT_SERVICES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://proj/" targetNamespace="http://proj/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException" />
  <xs:element name="SQLException" type="tns:SQLException" />
  <xs:element name="updateTable" type="tns:updateTable" />
  <xs:element name="updateTableResponse" type="tns:updateTableResponse" />
  <xs:complexType name="updateTable">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClassNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="exception" type="tns:throwable" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="SQLState" type="xs:string" />
      <xs:element name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqlException">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextException" type="tns:sqlException" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="exception">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:throwable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>