SelfServiceBatch/SelfServiceSales_DOTNET/websitefinal/Service References/getservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getservice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getserviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getserviceResult" type="tns:ArrayOfClass2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClass2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Class2" nillable="true" type="tns:Class2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Class2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Service_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Service_name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getserviceSoapIn">
    <wsdl:part name="parameters" element="tns:getservice" />
  </wsdl:message>
  <wsdl:message name="getserviceSoapOut">
    <wsdl:part name="parameters" element="tns:getserviceResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="getservice">
      <wsdl:input message="tns:getserviceSoapIn" />
      <wsdl:output message="tns:getserviceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getservice">
      <soap:operation soapAction="http://tempuri.org/getservice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getservice">
      <soap12:operation soapAction="http://tempuri.org/getservice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.0.75:95/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.0.75:95/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>