SelfServiceBatch/mywebsitegaura/mywebsite/Service References/ServiceReference1/PAYMENT_SERVICES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://proj/" targetNamespace="http://proj/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="updateTable" type="tns:updateTable" />
  <xs:element name="updateTableResponse" type="tns:updateTableResponse" />
  <xs:complexType name="updateTable">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateTableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>