SelfServiceBatch/self_service_sales_web_services/WebApplication1/WebApplication1/Service References/ServiceReference1/CustomerOrders.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dao.com/" targetNamespace="http://dao.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getCustOrders" type="tns:getCustOrders" />
  <xs:element name="getCustOrdersResponse" type="tns:getCustOrdersResponse" />
  <xs:complexType name="getCustOrders">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustOrdersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:custOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="custOrders">
    <xs:sequence>
      <xs:element name="customerID" type="xs:int" />
      <xs:element name="orderId" type="xs:int" />
      <xs:element minOccurs="0" name="orderStatus" type="xs:string" />
      <xs:element minOccurs="0" name="orderType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>